body {
  margin: 0;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#board {
  border: solid 2px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-gap: 0px;
}

.square {
  align-items: center;
  /* border: solid 2.5px; */
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.square__border-right {
  border-right: solid 2px;
}

.square__border-right__thin {
  border-right: solid 1px grey;
}

.square__border-bottom {
  border-bottom: solid 2px;
}

.square__border-bottom__thin {
  border-bottom: solid 1px grey;
}

#stage {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 150px;
}
